- if @members
  :javascript
    db.members = new db.MembersCollection(#{raw @members})

- if @players
  :javascript
    db.players = new db.PlayersCollection(#{raw @players})

- if @teams
  :javascript
    db.teams = new db.TeamsCollection(#{raw @teams})

- if @emergency_contacts
  :javascript
    db.emergency_contacts = new db.EmergencyContactsCollection(#{raw @emergency_contacts})

= render 'head'
.db
  .content
