%h1 #{@member.derby_name}
= link_to 'edit', controller => :members_controller, :action => :edit

%ul
  %li Legal Name: #{@member.legal_name}
  %li Debry Name: #{@member.derby_name}
  %li Email Address: #{@member.email_address}
