!!!
%html
  %head
    %meta{:content => 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}/
    %title Membership
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'

    = stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/css/tether.min.css'
    = javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js'

    = stylesheet_link_tag    'https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.2/css/bootstrap.min.css'
    = javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.2/js/bootstrap.min.js'

    = stylesheet_link_tag    'https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker3.min.css'
    = javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js'

    = csrf_meta_tags
  %body
    #container
      = yield
