- provide(:title, "Edit Member")
%h1 Edit #{@member.derby_name}
.row
  .col-md-6.col-md-offset-3
    = form_for(@member) do |f|
      = render 'shared/error_messages', object: f.object
      %ul
        %li= f.label :derby_name
        = f.text_field :derby_name, class: 'form-control'
        %li= f.label :legal_name
        = f.text_field :legal_name, class: 'form-control'
        %li= f.label :email_address
        = f.email_field :email_address, class: 'form-control'

        %li= f.submit "Save changes", class: "btn btn-primary"
