%h3 Members

%table
  %tbody
    %tr
      - @members.first.attributes.except(*MembersController::IGNORED_MEMBER_KEYS).keys.each do |key|
        %th= key.split("_").join(" ")
      - @members.each do |member|
        %tr
          - member.attributes.except(*MembersController::IGNORED_MEMBER_KEYS).each do |attr|
            -if attr[0] == "name"
              %td= link_to(attr[1], member_path(member))
            -elsif attr[0] == "phone_number"
              %td= number_to_phone(attr[1])
            -elsif attr[0] == "date_of_birth"
              %td= attr[1].try(:strftime, ("%B %d, %Y"))
            -elsif attr[1].class.to_s == "FalseClass"
              %td= "✗"
            -elsif attr[1].class.to_s == "TrueClass"
              %td= "✓"
            -else
              %td= attr[1]
