%h1 #{@member.derby_name}
= link_to 'edit', controller => :members_controller, :action => :edit

%ul
  %li Derby Name: #{@member.derby_name}
  %li Email Address: #{@member.email_address}
  %li First Name: #{@member.legal_name_first}
  %li Last Name: #{@member.legal_name_last}
  %li Number: #{@member.number}
  %li WFTDA Number: #{@member.wftda_number}
  %li Nickname: #{@member.nickname}
  %li Group: #{@member.group.join(', ')}
  %li Signed WFTDA Waiver: #{@member.signed_wftda_waiver}
  %li Signed WFTDA Confidentiality: #{@member.signed_wftda_confidentiality}
  %li Signed League Bylaws: #{@member.signed_league_bylaws}
  %li WFTDA ID: #{@member.wftda_id}
  %li Forum Name: #{@member.forum_name}
  %li Year Joined: #{@member.year_joined}
  %li Year Left: #{@member.year_left}
  %li Reason Left: #{@member.reason_left}
  %li Phone Number: #{@member.phone_number}
  %li Emergency Contact First Name: #{@member.emergency_contact_name_first}
  %li Emergency Contact Last Name: #{@member.emergency_contact_name_last}
  %li Emergency Contact Phone Number: #{@member.emergency_contact_phone}
  %li Emergency Contact Relation: #{@member.emergency_contact_relation}
  %li Date of Birth: #{@member.date_of_birth}
  %li Address, State: #{@member.address_state}
  %li Address, Street Address: #{@member.address_street}
  %li Address, City: #{@member.address_city}
  %li Address, Zip: #{@member.address_zip}
  %li Primary Insurance: #{@member.primary_insurance}
  %li Status: #{@member.status}
  %li On Massacre: #{@member.on_massacre}
  %li On Travel Team: #{@member.on_travel_team}
  %li League Job: #{@member.league_job}
  %li Purchased WFTDA Insurance: #{@member.purchased_wftda_insurance}
  %li Passed WFTDA Test: #{@member.passed_wftda_test}
  %li Google Doc Access: #{@member.google_doc_access}
  %li Official: #{@member.official}
  - if @member.official
    %li WFTDA Certification Level: #{@member.wftda_certification}
    %li
      - if @member.skating_official
        ref
      - else
        nso
